#Shane Ivan Fallar
IT - 119 | BSIT-3C

#Machine Problem 1

In [1]:
import os
import pandas as pd
import researchpy as rp

In [2]:
# Checking out the current working directory
os.getcwd()

'c:\\Users\\Shane Ivan Fallar\\Documents\\Coding Stuff\\Python\\119 Activity'

## Loading "ExperimentTwo.xlsx"

In [5]:
#Ope "ExperimentTwo.xlsx"
df = pd.read_excel("ExperimentTwo.xlsx")
# 
#Viewing the dataframe
print("Shane Ivan Fallar")
df

Shane Ivan Fallar

    ID    Pre  Group
0    1   2.03  Cntrl
1    2   4.02  Cntrl
2    3  14.34  Cntrl
3    4  15.55  Cntrl
4    5   2.05  Cntrl
..  ..    ...    ...
69  70   8.95     Tx
70  71   8.34     Tx
71  72   7.52     Tx
72  73   5.21     Tx
73  74   3.73     Tx

[74 rows x 3 columns]

In [ ]:
# Viewing the first 7 rows
print("Shane Ivan Fallar")
df.head(7)

In [ ]:
# Viewing the last 7 rows
print("Shane Ivan Fallar")
df.tail(7)

## Slicing the dataframe

In [ ]:
#Slice the second column with all of its observations
print("Shane Ivan Fallar")
df.iloc[:, 1]

In [ ]:
#Slice the data frame to only include observations ID of 5 to 20
print("Shane Ivan Fallar")
df.iloc[4:20, :]

In [ ]:
#Slice the data frame to only include column ID and pretest with observation ID 7 to 25
print("Shane Ivan Fallar")
df.iloc[6:25,:2]

In [ ]:
#Checking the structure of the dataframe
print("Shane Ivan Fallar")
df.info()

In [ ]:
#Checking for NAs or missing cases
print("Shane Ivan Fallar")
df.isnull().values.any()

In [ ]:
#Getting a simple descriptives
print("Shane Ivan Fallar")
df.iloc[:,1].describe()

# Machine Problem 2

# Load "sales.sav"

In [ ]:
#Loading .Sav file and assigning it to a variable
#Open and work on "sales.sav"
print("Shane Ivan Fallar")
df = pd.read_spss("sales.sav")

#View and work the Data

In [ ]:
#Viewing the dataframe
df

In [ ]:
# Viewing the first 15 rows
print("Shane Ivan Fallar")
df.head(15)

In [ ]:
# Viewing the last 15 rows
print("Shane Ivan Fallar")
df.tail(15)

In [ ]:
#Checking the structure of the dataframe
print("Shane Ivan Fallar")
df.info()

In [ ]:
#Slicing the dataframe
#Slice column to include 'hiqualty', 'satinfo', 'salesrep' with all of its observations
print("Shane Ivan Fallar")
df.loc[:, ['hiqualty', 'satinfo', 'salesrep']]

In [ ]:
#Slice the data frame to only include observations index of 15 to 35
print("Shane Ivan Fallar")
df.iloc[15:36]

In [ ]:
#Change the column named 'hiqualty' to 'hiquality'
print("Shane Ivan Fallar")
df = df.rename(columns={'hiqualty': 'hiquality'})

In [ ]:
#Checking for NAs or missing cases
print("Shane Ivan Fallar")
df.isnull().values.any()

In [ ]:
#Subset dataframe to include all rows with missing cases
print("Shane Ivan Fallar")
missing_df= df[df.isnull().any(axis=1)]
missing_df

In [ ]:
#Subset dataframe to include all rows with complete cases
print("Shane Ivan Fallar")
complete_df= df[df.notnull().all(axis=1)]
complete_df

In [ ]:
#Getting a simple descriptives
print("Shane Ivan Fallar")
df.describe()

In [ ]:
print("Shane Ivan Fallar")
df.astype('object').describe()